# Tipe data LIST

Tipe data list menyimpan serangkaian item dalam urutan tertentu.
List memungkinkan Anda menyimpan kumpulan informasi dalam satu tempat, baik Anda hanya memiliki beberapa item atau jutaan item.
List merupakan salah satu fitur paling kuat dalam Python yang mudah diakses oleh pemrogram pemula, dan mereka mengikat banyak konsep penting dalam pemrograman.

### Contoh list

In [1]:
siswa = ["Joko", "Budi", "Anwar"]

### Mengakses Elemen dalam list


Anda dapat mengakses elemen dalam daftar Python menggunakan indeks. Indeks dimulai dari 0 untuk elemen pertama dalam daftar, 1 untuk elemen kedua, dan seterusnya. Anda dapat menggunakan indeks positif untuk mengakses elemen dari awal daftar dan indeks negatif untuk mengakses elemen dari akhir daftar

In [2]:
siswa

['Joko', 'Budi', 'Anwar']

In [3]:
siswa1 = siswa[0]
siswa2 = siswa[1]
siswa3 = siswa[2]

print(siswa1,siswa2,siswa3)

Joko Budi Anwar

In [5]:
#anda bisa mengakses indexing terakhir dimulai dari -1

siswa_terakhir = siswa[-1]
siswa_kedua_dari_terakhir = siswa[-2]
siswa_ketiga_dari_terakhir = siswa[-3]

siswa_terakhir

'Anwar'

### Modifikikasi nilai elemen dalam list


Anda dapat memodifikasi nilai dalam elemen list dengan menetapkan nilai baru ke indeks yang sesuai. Berikut adalah contoh bagaimana Anda dapat melakukannya:

In [6]:
print(siswa)

['Joko', 'Budi', 'Anwar']

In [8]:
siswa[0] = "Afi"
siswa[1] = "Jaka"
siswa[2] = "Raya"

print(siswa)

['Afi', 'Jaka', 'Raya']

### Menambah elemen kedalam list

terdapat dua method yg dipakai untuk menambahkan elemen / (tipe) data baru kedalam list, yaitu append dan insert

append -> menambahkan elemen baru di list terakhir
.
insert -> menambahkan elemen baru di indexing tertentu didalam list

secara personal, lebih sering muncul kasus dimana kita harus menggunakan append dibandingkan list

In [9]:
buah = []
buah.append("Apel")
buah.append("Pisang")

print(buah)

['Apel', 'Pisang']

In [13]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
kendaraan.insert(0, "motor")
kendaraan.insert(3,"Taxi")

kendaraan

['motor', 'Mobil', 'Kapal', 'Taxi', 'Pesawat']

### Menghapus elemen didalam list

Ada dua cara menghapus sebuah elemen dalam list, yaitu method remove dan kata kunci 'del'

dalam methode remove, kita menghapus sebuah elemen dengan melemparkan nama value elemen
dalam kata kunci del, kita menghapus sebuah elemen dengan melemparkan indexingnya

In [19]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
print(kendaraan)

['Mobil', 'Kapal', 'Pesawat']

In [20]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
del kendaraan[0]
kendaraan

['Kapal', 'Pesawat']

In [21]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
kendaraan.remove("Mobil")

kendaraan

['Kapal', 'Pesawat']

### Popping elemen didalam list

Metode pop() dalam Python digunakan untuk menghapus elemen dari list berdasarkan indeks yang diberikan dan mengembalikan nilai dari elemen yang dihapus. Jika tidak ada indeks yang diberikan, pop() akan menghapus dan mengembalikan elemen terakhir dari list.

In [24]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
kendaraan_terakhir = kendaraan.pop(2)

print(kendaraan)
print(kendaraan_terakhir)

['Mobil', 'Kapal']
Pesawat

In [26]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
kendaraan.pop() #mengambil list index terakhir,
print(kendaraan)

['Mobil', 'Kapal']

### Mengecek panjang sebuah list

untuk mengecek panjang sebuah list/ berapa banyak elemen didalam list, kita bisa menggunakan built-in function len

In [28]:
kendaraan = ["Mobil", "Kapal", "Pesawat"]
banyak_kendaraan = len(kendaraan) #3 integer

print(f"list kendaraan memiliki banyak {banyak_kendaraan} item, dan tipe data dari variabel banyak kendaraan adalah {type(banyak_kendaraan)}")

list kendaraan memiliki banyak 3 item, dan tipe data dari variabel banyak kendaraan adalah <class 'int'>

### Mengurutkan (sorting) list

Python memiliki method sort() dan built-in function sorted() untuk mengurutkan sebuah list.

method sort() mengurutkan list secara permanent.
fungsi sorted() mencopy list yang diurutkan tanpa mempengaruhi list asli ke variabel baru. 

sorting list dilakukan sesuai urutan alphabet dan bisa di reverse. huruf kecil dan besar memengaruhi urutan sorting list di Python

In [37]:
nama_orang = ['Rudi','Sari','Umar','Lina','Mega','Vina','Gita','Yuni','Oscar',
              'Kartika','Xavier','Nanda','Hadi','Zain','Eko','Joko','Tono',
              'Dewi','Qori','Fandi','Budi','Wati','Putri','Ahmad','Citra']

nama_orang.sort()
nama_orang

['Ahmad',
 'Budi',
 'Citra',
 'Dewi',
 'Eko',
 'Fandi',
 'Gita',
 'Hadi',
 'Joko',
 'Kartika',
 'Lina',
 'Mega',
 'Nanda',
 'Oscar',
 'Putri',
 'Qori',
 'Rudi',
 'Sari',
 'Tono',
 'Umar',
 'Vina',
 'Wati',
 'Xavier',
 'Yuni',
 'Zain']

In [39]:
nama_orang = ['Rudi','Sari','Umar','Lina','Mega','Vina','Gita','Yuni','Oscar',
              'Kartika','Xavier','Nanda','Hadi','Zain','Eko','Joko','Tono',
              'Dewi','Qori','Fandi','Budi','Wati','Putri','Ahmad','Citra']

kopi_nama_orang_terurut = sorted(nama_orang)
kopi_nama_orang_terurut

['Ahmad',
 'Budi',
 'Citra',
 'Dewi',
 'Eko',
 'Fandi',
 'Gita',
 'Hadi',
 'Joko',
 'Kartika',
 'Lina',
 'Mega',
 'Nanda',
 'Oscar',
 'Putri',
 'Qori',
 'Rudi',
 'Sari',
 'Tono',
 'Umar',
 'Vina',
 'Wati',
 'Xavier',
 'Yuni',
 'Zain']